.inputMappingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    gap: 10px;
    font-size: larger;
}
.inputMappingContainer input {
    background-color: #1d2c3b;
    color: white;
    border: 2px solid #24B382;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 15px;
}
.inputMappingContainer input:focus{
    outline: none;
}
.deleteMappingButton {
    color: white;
    cursor: pointer;
    transition: linear 0.1s;
}
.deleteMappingButton:hover {
    color: #24B382;
}
.addMappingButton {
    color: white;
    cursor: pointer;
    transition: linear 0.1s;
    padding: 10px 9px;
    background-color: #24B382;
    width: fit-content;
    font-weight: bold;
    border-radius: 7px;
}
.addMappingButton:hover {
    color: #1d2c3b;
    background-color: #24B382;
}