.reportsList {
    max-height: 600px;
    overflow: auto;
    padding-bottom: 50px;
}
.reportLink {
    color: #e8e8e8;
    cursor: pointer;
    transition: linear 0.1s;
}
.reportLink:hover {
    color: #7b6991!important;
}
.reportControls span {
    cursor: pointer;
    margin: 0 5px;
    width: fit-content;
    height: fit-content;
    transition: linear 0.2s;
}
.reportControls span:hover {
    color: #7b6991;
}
.reportsFiltersBlock {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.filtersContainer {
    display: flex;
    justify-content: space-between;
}
.generateNewItemButton {
    color: white;
    padding: 12px 22px;
    border: solid 1px white;
    transition: linear 0.1s;
    font-size: 20px;
}
.generateNewItemButton:hover {
    color: #1f755c  ;
    border: solid 1px #1f755c;
}
.reportsListContainer {
    flex: 1;
    width: 60%;
    color: #e8e8e8;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 100px;
    overflow: auto;
}
.reportTable {
    width: 100%;
    margin-top: 30px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 40px 0;
}
.reportTable td:last-child, .reportTable th:last-child{
    text-align: right;
}
.reportTable td:last-child {
    font-size: 20px;
}
.reportTable th {
    padding-bottom: 5px;
}
.reportTable td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.reportTable tr {
    box-shadow: 0 1px 2px -1.5px #737373;
}
.circle {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: #fff;
    display: inline-block;
    margin-right: 10px;
}
.statusCell {
    margin-top: 3px;
    display: flex;
    align-items: center;
    margin-right: -20px;
}
.statusCellFailed {
    color: #d94646;
}
.statusCellFailed .circle {
    background-color: #d94646;
}
.statusCellCompleted {
    color: #7cd946;
}
.statusCellCompleted .circle {
    background-color: #7cd946;
}
.statusCellProcessing {
    color: #468bd9;
}
.statusCellProcessing .circle {
    background-color: #468bd9;
}
.reportRowCell {
    overflow: hidden;
    text-overflow: ellipsis; /* this will add ... at the end of the content if it overflows */
    white-space: nowrap; /* this will prevent the text from breaking into multiple lines */
}
