[submodule "kin-news/submodules/kin-news-core"]
	path = kin-news/submodules/kin-news-core
	url = git@github.com:kinfi4/Kin-News-Core.git
[submodule "kin-statistics/submodules/kin-news-core"]
	path = kin-statistics/submodules/kin-news-core
	url = git@github.com:kinfi4/Kin-News-Core.git
