SECRET_KEY=
DEBUG=1

TOKEN_LIFE_MINUTES=1200

LOG_LEVEL=INFO

# database
DATABASE_NAME=kin-news
DATABASE_USER=kin-news-user
DATABASE_PASSWORD=kin-news-password
DATABASE_HOST=postgres

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_STRING=

REDIS_PORT=6379
REDIS_HOST=redis

KIN_TOKEN=

STATISTICS_SERVICE_URL=http://kin-statistics-api