.defaultButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px 15px;
    border-radius: 2px;
    border: 0;

    cursor: pointer;

    transition: linear 0.2s;
    background-color: #353C4E;
    color: #f7fdff;

    font-weight: bold;
}
.defaultButton:hover {
    background-color: #7744bb;
    color: #ffffff;
    box-shadow: 0 0 5px white;
}