.pageTitle {
    font-size: 80px;
    font-weight: 20;
    margin-bottom: 0;
    text-align: center;
    color: #e7e7e7;
}
.formPageTitle {
    font-size: 80px;
    font-weight: 20;
    margin-bottom: 20px;
    text-align: center;
    color: #e7e7e7;
}