.filtersBlock th{
    padding-bottom: 30px;
    font-size: 20px;
}
.controlsContainer span {
    cursor: pointer;
    transition: color 0.1s;
    margin: 0 5px;
}
.controlsContainer span:hover {
    color: #24B382;
}
.modelLink {
    color: white;
    cursor: pointer;
    transition: color 0.1s;
}
.modelLink:hover {
    color: #1f755c;
}