SECRET_KEY=asldkfja;slkdfjasldf
DEBUG=1

LOG_LEVEL=INFO

KIN_TOKEN=2309qhfpwof

RABBITMQ_CONNECTION_STRING=amqp://kin-news-user:kin-news-password@rabbitmq:5672
MONGO_DB_CONNECTION_STRING=mongodb://kin-news-user:kin-news-password@mongo:27017

MODELS_STORAGE_PATH=/models
TOKEN_LIFE_MINUTES=1200

ALLOWED_HOSTS='["http://localhost:3000"]'
