.modelFormContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 50px;
}
.formInputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
}
.blockOfForms {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    margin: 20px;
}
.createModelButton {
    padding: 10px 15px;
    background-color: #24B382;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.createModelButton:hover {
    background-color: #3a749a;
}