.modelFormContainer {
    width: 50%;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.basicSettingsContainer {
    display: flex;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
}
.advancedSettingsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 100%;
    margin-bottom: 60px;

    color: whitesmoke;
}
.formInputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
}
.blockOfForms {
    display: flex;
    flex-direction: column;

    max-width: 600px;
    margin: 20px;
}
.createModelButton {
    padding: 10px 15px;
    background-color: #24b382;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.createModelButton:hover {
    background-color: #3a749a;
}
