SECRET_KEY=
DEBUG=1

TOKEN_LIFE_MINUTES=1200

LOG_LEVEL=INFO

# database
DATABASE_NAME=kin-statistics
DATABASE_USER=kin-news-user
DATABASE_PASSWORD=kin-news-password
DATABASE_HOST=postgres

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_STRING=

MONGO_DB_CONNECTION_STRING=mongodb://kin-news-user:kin-news-password@mongo:27017

KIN_TOKEN=

CELERY_BROKER_URL=redis://redis:6379/5
CELERY_RESULT_BACKEND=redis://redis:6379/5


# models
SKLEARN_VECTORIZER_PATH=models/vectorizer.pk
KERAS_TOKENIZER_PATH=models/keras-tokenizer.pk
KNN_MODEL_PATH=models/knn-news-type-prediction.sav
SVC_MODEL_PATH=models/svc-news-type-prediction.sav
GAUSSIAN_MODEL_PATH=models/nb-news-type-prediction.sav
LSTM_MODEL_PATH=models/lstm-news-type-prediction.h5
SENTIMENT_DICTIONARY_PATH=models/sentiment-words.csv
STOP_WORDS_PATH=models/RUSSIAN_STOP_WORDS.json

USER_REPORTS_FOLDER_PATH=/app/data/reports/