.controls {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 20px;

    margin-top: 30px;
}
.statsContainer {
    position: relative;
    min-height: 100vh;
    height: fit-content;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */

    padding-top: 100px;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;

    width: 100%;
}
.generateReportForm {
    margin-top: 50px;
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    padding: 60px 30px;

    width: 900px;

    /*box-shadow: 0 0 10px #7744bb;*/
}
.choseReportLink {
    text-decoration: none;
    font-weight: bold;

    position: absolute;
}
.choseReportLink a {
    display: flex;
    justify-content: left;
    align-items: center;
    transition: linear 0.1s;
    color: #c2c2c2;
}
.choseReportLink a:hover {
    color: #7b6991;
}
.generateReportsControlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 100%;
    overflow: hidden;
    font-size: 4px;
}
.generateReportFormLabel {
    font-size: 15px;
    font-weight: bold;
    color: #c2c2c2;
}
.generateReportFormFieldContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.templateButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;

    width: 353px;
}
.templateButtonsContainer div {
    background-color: #3a749a;
    color: white;
    padding: 10px 15px;
    text-align: center;

    cursor: pointer;

    transition: linear 0.1s;
}
.templateButtonsContainer div:hover {
    background-color: #337acb;
}
.templateButtonsContainer div:first-child {
    width: 48%;
}
.templateButtonsContainer div:last-child {
    width: 42%;
}
