.comparisonContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 100px;

    overflow-y: visible;
}
.comparisonBlock {
    display: flex;
    justify-content: center;
    width: 50%;
    height: fit-content;
    min-height: 100%;
    border-right: 1px solid #7744bb;
    box-shadow: 0 0 20px #7744bb;
    overflow-y: hidden;
    overflow-x: auto;

    padding-top: 30px;
}
