absl-py==1.4.0
aioredis==2.0.1
amqp==5.1.1
annotated-types==0.5.0
astunparse==1.6.3
async-timeout==4.0.3
billiard==4.1.0
cachetools==5.3.1
celery==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
DAWG-Python==0.7.2
dependency-injector==4.41.0
docopt==0.6.2
flatbuffers==23.5.26
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.57.0
h5py==3.9.0
idna==3.4
jax==0.4.14
joblib==1.3.2
keras==2.12.0
kombu==5.3.1
langid==1.1.6
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
ml-dtypes==0.2.0
nltk==3.8.1
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
pika==1.3.2
prompt-toolkit==3.0.39
protobuf==4.24.2
pyaes==1.6.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.4
PyJWT==2.8.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pymorphy2-dicts-uk==2.4.1.1.1460299261
python-dateutil==2.8.2
pytz==2023.3
redis==5.0.0
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
smart-open==6.4.0
SQLAlchemy==2.0.20
streaming-form-data==1.13.0
Telethon==1.29.3
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
threadpoolctl==3.2.0
tqdm==4.66.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
vine==5.0.0
wcwidth==0.2.6
Werkzeug==2.3.7
wrapt==1.14.1
