SECRET_KEY=asldkfja;slkdfjasldf
DEBUG=1

LOG_LEVEL=INFO

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_STRING=

KIN_TOKEN=2309qhfpwof

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=

STATISTICS_SERVICE_URL=http://kin-statistics-api:8000/api/statistics/v1
MODEL_TYPES_SERVICE_URL=http://kin-model-types-api:8000/api/model-types/v1

RABBITMQ_CONNECTION_STRING=amqp://kin-txt-user:kin-txt-password@rabbitmq:5672
RABBITMQ_QUEUE_NAME=builtin_models_queue

MODEL_STORAGE_PATH=/models

TF_CPP_MIN_LOG_LEVEL=2
