SECRET_KEY=asldkfja;slkdfjasldf
DEBUG=1

TOKEN_LIFE_MINUTES=1200

LOG_LEVEL=INFO

# database
DATABASE_NAME=kin-statistics
DATABASE_USER=kin-news-user
DATABASE_PASSWORD=kin-news-password
DATABASE_HOST=postgres

MONGO_DB_CONNECTION_STRING=mongodb://kin-news-user:kin-news-password@mongo:27017
RABBITMQ_CONNECTION_STRING=amqp://kin-news-user:kin-news-password@rabbitmq:5672

KIN_TOKEN=2309qhfpwof

CELERY_BROKER_URL=redis://redis:6379/5
CELERY_RESULT_BACKEND=redis://redis:6379/5

# models
SKLEARN_VECTORIZER_PATH=kin_statistics_api/compiled-models/vectorizer.pk
KERAS_TOKENIZER_PATH=kin_statistics_api/compiled-models/keras-tokenizer.pk
KNN_MODEL_PATH=kin_statistics_api/compiled-models/knn-news-type-prediction.sav
SVC_MODEL_PATH=kin_statistics_api/compiled-models/svc-news-type-prediction.sav
GAUSSIAN_MODEL_PATH=kin_statistics_api/compiled-models/nb-news-type-prediction.sav
LSTM_MODEL_PATH=kin_statistics_api/compiled-models/lstm-news-type-prediction.h5
SENTIMENT_DICTIONARY_PATH=kin_statistics_api/compiled-models/sentiment-words.csv
STOP_WORDS_PATH=kin_statistics_api/compiled-models/RUSSIAN_STOP_WORDS.json

USER_REPORTS_FOLDER_PATH=/app/kin_statistics_api/data/reports/

ALLOWED_HOSTS='["http://localhost:3000"]'
