SECRET_KEY=asldkfja;slkdfjasldf
DEBUG=1

TOKEN_LIFE_MINUTES=1200

LOG_LEVEL=INFO

# database
DATABASE_NAME=kin-txt
DATABASE_USER=kin-txt-user
DATABASE_PASSWORD=kin-txt-password
DATABASE_HOST=postgres

RABBITMQ_CONNECTION_STRING=amqp://kin-txt-user:kin-txt-password@rabbitmq:5672
MONGO_DB_CONNECTION_STRING=mongodb://kin-txt-user:kin-txt-password@mongo:27017

KIN_TOKEN=2309qhfpwof

USER_REPORTS_FOLDER_PATH=/app/kin_statistics_api/data/reports/

ALLOWED_HOSTS=http://localhost:3000
