.validationResultsContainer {
    border-radius: 3px;
    border-bottom: 1px solid #2ca884;
    width: 1000px;
    padding: 10px 15px;
    color: #a6a6a6;
}
.validationResult {
    color: white;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}
.validationPassed {
    color: #2ca884;
}
.validationFailed {
    color: crimson;
}
.validationHasntStarted {
    color: #a6a6a6;
}
