.overflow{
    width: 100%;
    height: 100%;
    top:0;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    z-index: 14;
}

.overflow.active{
    pointer-events: all;
    opacity: 1;
}

.inner{
    color: #f7fdff;
    border-radius: 4px;
    position: relative;
    background-color: #15202b;
    overflow: auto;
    margin: 30px auto;

    z-index: 4;
}