SECRET_KEY=asldkfja;slkdfjasldf
DEBUG=1

LOG_LEVEL=INFO

KIN_TOKEN=2309qhfpwof

# database
DATABASE_NAME=kin-txt
DATABASE_USER=kin-txt-user
DATABASE_PASSWORD=kin-txt-password
DATABASE_HOST=postgres

RABBITMQ_CONNECTION_STRING=amqp://kin-txt-user:kin-txt-password@rabbitmq:5672

TOKEN_LIFE_MINUTES=1200

ALLOWED_HOSTS=http://localhost:3000
